$primary-color: #007bff;
$primary-hover-color: #0056b3;
$secondary-color: #28a745;
$secondary-hover-color: #218838;
$background-color: #f0f0f0;
$white-color: #fff;
$gray-color: #ddd;
$red-color: #dc3545;
$red-hover-color: #c82333;

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: $background-color;
}

.container {
    background: $white-color;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.wrapper {
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $gray-color;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: $primary-color;
    color: $white-color;
    cursor: pointer;

    &:hover {
        background: $primary-hover-color;
    }
}

.table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;

    thead th {
        text-align: left;
        padding: 10px;
        border-bottom: 2px solid $gray-color;
    }

    tbody td {
        padding: 10px;
        border-bottom: 1px solid $gray-color;
    }
}

.editButton {
    background: $primary-color;
    color: $white-color;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: $primary-hover-color;
    }
}

.removeButton {
    background: $red-color;
    color: $white-color;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: $red-hover-color;
    }
}

.editingArea {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editField {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $gray-color;
    margin-right: 10px;
}

.finalEditButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: $secondary-color;
    color: $white-color;
    cursor: pointer;

    &:hover {
        background: $secondary-hover-color;
    }
}